<div class="d-flex justify-content-end">
    {% for item in items %}
        <a href="{{ item.link|esc_attr }}"{% if item.rel is not empty %} rel="{{ item.rel|join(' ') }}"{% endif%}
           class="d-block p-2 bg-white border rounded{% if not loop.last %} me-4{% endif %}">
            {% set image_size = item.image_size %}
            {% if image_size is empty %}
                {% set image_size = [item.width, item.heigth] %}
            {% endif %}
            {{ wp_get_attachment_image(item.image, image_size, {class: 'd-block mx-auto'})|raw }}
        </a>
    {% endfor %}
</div>
{#{% embed get_cover_template('common/carousel/index') with {#}
{#    carousels: items,#}
{#    carousel_config: {#}
{#        loop: false,#}
{#        speed: 1500,#}
{#        autoplay: false,#}
{#        navigation: false,#}
{#        pagination: true,#}
{#    }#}
{#} %}#}
{#    {% block carousel %}#}
{#        {% if carousel.markup is not empty %}#}
{#            {{ carousel.markup|raw }}#}
{#        {% else %}#}
{#            <a href="{{ carousel.link|esc_attr }}" class="d-block">#}
{#                {% set image_size = carousel.image_size %}#}
{#                {% if image_size is empty %}#}
{#                    {% set image_size = [carousel.width, carousel.heigth] %}#}
{#                {% endif %}#}
{#                {{ wp_get_attachment_image(carousel.image, image_size, {class: 'd-block mx-auto'})|raw }}#}
{#            </a>#}
{#        {% endif %}#}
{#    {% endblock %}#}
{#{% endembed %}#}

