<div class="post-list">
    {{ render_if_has_content('h3', {class: 'mb-3'}, title) }}
    {% if periods is defined and periods is not empty %}
        <ul class="nav nav-pills nav-justified mb-3 bg-gray-300" role="tablist">
            {% for key, period in periods %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-sm{% if loop.first %} active{% endif %} rounded-0" id="posts_{{ key }}_tab"
                            data-bs-toggle="pill" data-bs-target="#posts_{{ key }}"
                            type="button" role="tab" aria-controls="posts_{{ key }}"
                            {% if loop.first %} aria-selected="true"{% endif %}>
                        {{ period.title }}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for key, period in periods %}
                <div class="tab-pane{% if loop.first %} active{% endif %}" id="posts_{{ key }}"
                     role="tabpanel" aria-labelledby="posts_{{ key }}_tab">
                    {% if period.items is not empty %}
                        <ul class="list-group list-group-flush">
                            {% for item in period.items %}
                                {% include get_cover_template('common/post/widget_list_item') with {
                                    post: item.post,
                                    metadata: item.metadata
                                } %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
