<div class="container">
    <article class="row mb-4">
        <div class="col-lg-4">
            {{ render_frontend_alert({
                type: 'success',
                centered: 1,
                classes: 'text-center p-2 fw-bold fs-14 rounded-0 border-0 mb-2',
                content: 'نسخـــــه رایگــــان دارد'
            }) }}
            {{ pmpr_do_action('render_product_thumbnails', product) }}
        </div>
        <div class="col-lg-8">
            <div class="row">
                <header class="col-12 mb-2">
                    <h1 class="text-gray-900 fs-lg mb-2">{{ title|raw }}</h1>
                    {{ pmpr_do_action('render_post_taxonomies', product, {attrs: {class: 'fs-14 mb-0'}}) }}
                </header>
                <div class="col-12 col-lg-8 mb-4 mb-lg-0 border-top">

                    <address class="rounded my-3 p-3 bg-gray-200">
                        <div class="d-flex mb-2">
                            {{ get_avatar(author, 80, {class: 'img-fluid rounded-circle my-auto me-3 d-block'})|raw }}
                            <div class="my-auto">
                                <cite class="my-auto d-block fs-16 fw-bold font-normal mb-2">{{ render_user_data('display_name', author)|raw }}</cite>
                                {{ render_if_has_content('div', {class: 'text-muted fs-14 mb-1'}, render_user_data('caption', author)) }}
                                {{ render_if_has_content('div', {class: 'text-muted fs-14'}, pmpr_apply_filters('get_user_educational_info', '', author)) }}
                            </div>
                        </div>
                        {{ render_if_has_content('div', {class: 'fs-16 lh-lg line-limit-2'}, author_description) }}
                    </address>

                    {{ pmpr_do_action('render_product_attributes', {
                        product: product,
                        type: 'top',
                        title: '',
                    }) }}

                    {% if metadata is not empty %}
                        <ul class="list-group list-group-horizontal list-group-flush my-3">
                            {% for key, meta_item in metadata %}
                                {% set isComment = key is same as ('comment') %}
                                <li class="flex-fill list-group-item rounded shadow-sm bg-white border-0 d-flex flex-column{% if not loop.last %} me-2{% endif %} p-2 text-center{% if isComment %} as-link{% endif %}"
                                        {% if isComment %} data-link="#comments" data-type="scroll-to" {% endif %}
                                >
                                    {% if key is same as ('score') %}
                                        <div class="d-flex justify-content-center">
                                            {{ render_icon(meta_item.icon, {class: 'icon-lg icon-warning me-2 my-auto'}) }}
                                            <strong class="text-gray-700 fs-lg">
                                                {{ meta_item.value|raw }}
                                            </strong>
                                        </div>
                                    {% else %}
                                        <strong class="text-gray-700 fs-lg mb-1">
                                            {{ meta_item.value|raw }}
                                        </strong>
                                    {% endif %}
                                    <span class="text-gray-600 fs-14">{{ meta_item.subtext|raw }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="d-flex my-3">
                        <hr class="flex-grow-1 my-auto">
                        <h2 class="h4 my-auto mx-3">دیدگاه خریداران</h2>
                        <hr class="flex-grow-1 my-auto">
                    </div>

                    {% embed get_cover_template('common/carousel/index') with {
                        carousel_config: {
                            loop: true,
                            navigation: true,
                            pagination: false,
                            slidesPerView: 1
                        },
                        nav_class: '',
                        navs_class: 'd-flex justify-content-between centered-absolute w-100 z-xs',
                        carousels: {
                            '1': {
                                'name': 'مهرداد',
                                'text': 'این یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربر'
                            },
                            '2': {
                                'name': 'محسن بخشایی',
                                'text': 'این یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربر'
                            },
                            '3': {
                                'name': 'احمد لطفی',
                                'text': 'این یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربراین یک متن بلند است برای این کاربر'
                            }
                        }
                    } %}
                        {% block carousel %}
                            <div class="card shadow-sm">
                                <div class="card-body px-4 d-flex">
                                    {{ get_avatar(author, 65, {class: 'img-fluid rounded-circle my-auto me-3 d-block'})|raw }}
                                    <div class="pr-text">
                                        <div class="d-flex justify-content-between mb-2">
                                            <strong>{{ carousel.name|raw }}</strong>
                                            <div class="d-flex">
                                                {{ render_icon('fasm/6/set/star', {class: 'icon-md'}) }}
                                                {{ render_icon('fasm/6/set/star', {class: 'icon-md icon-warning'}) }}
                                                {{ render_icon('fasm/6/set/star', {class: 'icon-md icon-warning'}) }}
                                                {{ render_icon('fasm/6/set/star', {class: 'icon-md icon-warning'}) }}
                                                {{ render_icon('fasm/6/set/star', {class: 'icon-md icon-warning'}) }}
                                            </div>
                                        </div>
                                        <p class="line-limit-2 fs-14">{{ carousel.text|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    {% endembed %}

                </div>
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    {% include get_template('../../add_to_cart_card', _self) with {
                        has_features: 1,
                        show_versions: 1,
                        has_preview_action: 1,
                        has_recommendation_breif: 1,
                        wrapper_class: 'mb-3'
                    } %}
                    <div class="as-link d-flex">
                        {{ render_icon(report.icon, {class: 'icon-sm me-2 my-auto'}) }}
                        <span class="fs-14 text-gray-700">{{ report.action_text|raw }}</span>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

