<div class="rating-container position-relative mb-4 text-center">
    {{ render_frontend_spinner({
        type: 'loader',
        show: not render,
        overlay: 1,
    }) }}
    <div class="rating-wrapper py-{% if render %}1{% else %}5{% endif %}">
        {% if render %}
            {% if user_rate is not defined or user_rate is empty %}
                <div class="mt-2">
                    <strong class="fs-md">{{ title|raw }}</strong>
                    <p class="rating-guide mb-0 fs-sm">{{ guide_text|number|raw }}</p>
                </div>
                {{ rating_form|raw }}
            {% endif %}

            {% if result is defined
                and result is not empty %}
                <p class="rating-result mb-0 fs-sm">{{ result|raw }}</p>
            {% endif %}

            {% if user_rate is defined
                and user_rate is not empty %}
                <strong class="fs-md">{{ user_rate|raw }}</strong>
            {% else %}
                <p class="rating-message mb-0 fs-sm"></p>
                {{ feedback_form|raw }}
            {% endif %}
        {% endif %}
    </div>
    {{ schema|raw }}
</div>

