<div class="container">
    {% if introduce is not empty %}
        <header class="card p-2">
            <div class="card-body d-flex flex-column flex-md-row justify-content-between">
                <div class="me-5">
                    {{ render_if_has_content('h1', {class: 'mb-3'}, introduce.title) }}
                    {{ render_if_has_content('div', {class: 'pr-text mb-3 mb-md-0'}, wpautop(introduce.description)) }}
                </div>
                {{ render_if_has_content('a', {href: introduce.button_link, class: 'btn btn-lg btn-primary mt-auto'}, introduce.button_text) }}
            </div>
        </header>


    {% endif %}

    {% if materials is not empty %}
        <h2 class="visually-hidden">{{ materials_title|raw }}</h2>
        <div class="row mt-4 justify-content-center">
            {% set columns = 'col-6 col-md-4 col-lg-3 col-xl-2' %}
            {% for material in materials %}
                <div class="{{ columns|raw }} {{ margin_bottom(loop, columns, 4) }}">
                    <a class="card d-block p-2" href="{{ material.link|esc_attr }}">
                        <div class="card-body text-center d-flex flex-column justify-content-between">
                            {{ render_icon(material.icon, {class: 'icon-5x mx-auto mb-4 icon-secondary'}) }}
                            {{ render_if_has_content('h3', {class: 'text-secondary lh-base'}, material.title) }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if capabilities is not empty %}
        <h2 class="visually-hidden">{{ capabilities_title|raw }}</h2>
        <div class="row mt-4">
            {% set columns = 'col-12 col-md-4' %}
            {% for capability in capabilities %}
                <div class="{{ columns|raw }} d-flex {{ margin_bottom(loop, columns, 4) }}">
                    <div class="card p-2 w-100">
                        <div class="card-body d-flex flex-column justify-content-between">
                            {{ render_if_has_content('h3', {class: 'mb-4 lh-base fs-5'}, capability.text) }}
                            <div class="mt-auto text-end">
                                {{ render_if_has_content('a', {href: get_permalink(capability.button_link), class: 'btn btn-primary'}, capability.button_text) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

