{% if items is not empty %}
    {{ render_if_has_content('div', {class: 'section-title h2', id: 'product_children_title'}, title) }}
    <div class="list product-children my-4">
        {% for item in items %}
            <article class="list-item p-4 alert{% if item.is_featured %} featured alert-primary{% else %} alert-secondary{% endif %} card shadow-sm{% if not loop.last %} mb-4{% endif %}">
                <h2 class="mb-3 alert-heading line-limit-1">{{ item.title|raw }}</h2>
                {% if item.is_featured %}
                    <div class="row">
                        <div class="col no-margin line-limit-12">{{ wpautop(item.description)|raw }}</div>
                        <div class="col-12 col-lg-auto">
                            <a href="{{ item.permalink|esc_attr }}" class="ms-3 d-block">
                                {{ item.object|call('get_image', 'medium', {class: 'img-fluid rounded'})|raw }}
                            </a>
                        </div>
                    </div>
                {% endif %}
                <div class="row m{% if item.is_featured %}y{% else %}b{% endif %}-4">
                    <div class="col-12 col-md-6">
                        {% if item.is_featured %}
                            {% set change_logs = item.change_log|slice(1, 3) %}
                            {% if change_logs is not empty %}
                                <h3 class="mb-3 alert-heading">{{ change_log.title|raw }}</h3>
                                <ul class="list-group change-logs">
                                    {% for change_log_item in change_logs %}
                                        {% if change_log_item.text is not empty %}
                                            <li class="list-group-item change-log p-2">
                                                <span class="line-limit-1">{{ change_log_item.text|raw }}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <small class="mt-2 d-block text-center">
                                    {{ change_log.see_more|raw }}
                                </small>
                            {% endif %}
                        {% else %}
                            <div class="line-limit-6 no-margin">{{ wpautop(item.description)|raw }}</div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="bg-white rounded metadata version-1 p-3">
                            {% for metadata_item in item.metadata %}
                                <div class="d-flex justify-content-between text-gray-700{% if not loop.last %} pb-3{% endif %}">
                                    <div class="d-flex">
                                        {{ render_icon(metadata_item.icon, {class: 'icon-gray-500 my-auto icon-lg'|esc_attr }) }}
                                        <div data-divider="horizontal" class="bg-gray-500 mx-2"></div>
                                        <span>{{ metadata_item.title|raw }}</span>
                                    </div>
                                    <strong>{{ metadata_item.value|raw }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-9 no-margin line-limit-2">{{ wpautop(footer_content)|raw }}</div>
                    <div class="col-12 col-md-3">
                        <a href="{{ item.permalink|esc_attr }}"
                           class="btn py-2 btn-{% if not item.is_featured %}outline-{% endif %}primary w-100">
                            {{ action_text|raw }}
                        </a>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
{% endif %}
