{% if items is defined
    and items is not empty %}
    <section>
        {{ render_if_has_content('h2', {class: 'section-title'}, title) }}
        {% for item in items %}
            <article class="card{% if not loop.last %} mb-3{% endif %}">
                {% if item.attributes is not empty %}
                    <ul class="list-group list-group-flush border-bottom">
                        {% for attribute in item.attributes %}
                            <li class="list-group-item d-flex justify-content-between{% if loop.index % 2 == 0 %} list-group-item-secondary{% endif %}">
                                <div class="d-flex">
                                    {{ render_icon(attribute.icon, {class: 'my-auto me-2'}) }}
                                    {{ render_if_has_content('span', {}, attribute.label) }}
                                </div>
                                <strong>{{ attribute.value|raw }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if item.downloads is not empty %}
                    <ul class="list-group list-group-flush">
                        {% for download in item.downloads %}
                            <li class="list-group-item d-flex">
                                <img src="{{ download.icon|esc_attr }}" alt="File Type" width="50" height="60" class="me-2">
                                <div class="my-auto">
                                    {{ render_if_has_content('a', {class: 'text-decoration-none fw-bold fs-6', href: download.link, target: '_blank'}, download.title) }}
                                    {% if download.metadata is not empty %}
                                        <div class="d-flex pt-2">
                                            {% for metadata in download.metadata %}
                                                <div class="d-flex{% if not loop.last %} me-3{% endif %}{% if not loop.first %} border-start border-2 ps-3{% endif %}">
                                                    {{ render_icon(metadata.icon, {class: 'my-auto me-2'}) }}
                                                    {{ render_if_has_content('span', {}, metadata.text) }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endif %}
