{{ render_if_has_content('div', {class: 'section-title h2'}, title) }}
{% if downloads is not empty %}
    <div class="mb-4" id="download-list">
        {% for download in downloads %}
            <div class="card border{% if not loop.last %} mb-4{% endif %}">
                <div class="card-header bg-gray-200 py-3">
                    <h2 class="h3 text-dark mb-0">{{ download.title|raw }}</h2>
                </div>
                <div class="card-body py-3">
                    <div class="no-margin mb-2">
                        {{ wpautop(download.description)|raw }}
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-9 d-flex">
                            {% for meta_item in download.metadata %}
                                <div class="d-flex text-gray-700 justify-content-between{% if not loop.last %} me-4{% endif %}">
                                    {{ render_icon(meta_item.icon, {class: 'icon-lg icon-gray-600 my-auto'}) }}
                                    <div data-divider="horizontal" class="bg-gray-500 mx-2"></div>
                                    <strong class="my-auto">{{ meta_item.text|raw }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="{{ download.action_link|esc_attr }}"
                               class="btn btn-primary d-flex justify-content-center w-100">
                                {{ render_icon(download.action_icon, {class: 'icon-white me-3 my-auto'}) }}
                                <span>{{ download.action_text|raw }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}

{% endif %}
