{% embed get_cover_template('common/aside') with {
    aside_id: 'mobile',
    padding: 3,
    is_right: 0,
    has_close: 0,
    has_header: 1,
    has_footer: 0,
    full_height: 0,
    close_color: '',
    border_color: 'white',
    wrapper_class: 'bg-white min-vh-100'
} %}
    {% block aside_header %}
        {% include get_cover_template('common/logo') with {
            logo_type: 'header',
            logo_size: [150, 45],
            container_class: ''
        } %}
        {{ render_icon('fasm/6/set/xmark', {class: 'icon-xxl icon-dark aside-close position-absolute top-50 end-0 translate-middle-y p-1 me-3 as-link', 'data-class': 'bg-gray-200 rounded'}) }}
    {% endblock %}

    {% block aside_content %}
        <div class="mobile-header-content">

            {% if has_nav_menu('mobile-menu') %}
                <nav role="menu">
                    {% set mobileMenu %}
                        {{ wp_nav_menu({
                            theme_location: 'mobile-menu',
                            container_class: ''
                        }) }}
                    {% endset %}
                    {{ render_if_has_content('div', {class: 'bg-gray-200 rounded p-4 mb-4'}, mobileMenu) }}
                    {{ pmpr_do_action('after_mobile_menu') }}
                </nav>
            {% endif %}

            {% if is_active_sidebar('mobile-aside') %}
                {{ dynamic_sidebar('mobile-aside') }}
            {% endif %}
        </div>
    {% endblock %}

{% endembed %}

