<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-9 col-lg-8 col-xl-7">
            <div {{ pr_add_animation({}, {effect: 'fade-up', distance: '100px', duration: 1000, delay: 0}) }}>
                {% include get_cover_template('common/header/section') with {
                    header_attrs: {class: 'text-center'},
                    heading_attrs: {class: 'display-6 fw-bold'},
                    description_attrs: {class: 'fs-md'},
                } %}
            </div>
        </div>
    </div>
    <div {{ pr_add_animation({class: 'nav-custom nav-horizontal'}, {effect: 'fade-up', distance: '100px', duration: 1000, delay: 200}) }}>
        <nav class="nav" id="material_tabs">
            {% for id, material in materials %}
                <button class="d-flex shadow-sm fw-bold nav-link{% if loop.first %} active{% endif %}"
                        id="material_{{ id|esc_attr }}_tab" data-bs-toggle="pill"
                        data-bs-target="#material_{{ id|esc_attr }}" type="button" role="tab"
                        aria-controls="material_{{ id|esc_attr }}" aria-selected="true">
                    {{ render_icon(material.icon, {class: 'icon-xxl icon-default me-3'}) }}
                    <h3 class="my-auto">{{ material.material_title|raw }}</h3>
                </button>
            {% endfor %}
        </nav>
        <div class="tab-content" id="material_tab_contents">
            {% for id, material in materials %}
                {% set is_image_left = material.image_position is same as ('left') %}
                <div class="tab-pane fade{% if loop.first %} show active{% endif %}"
                     id="material_{{ id|esc_attr }}" role="tabpanel"
                     aria-labelledby="material_{{ id|esc_attr }}_tab">
                    <div class="row">
                        <div class="col-12 col-lg-7 order-1{% if not is_image_left %} order-lg-3{% endif %} mb-5 my-lg-auto lh-base">
                            {{ render_if_has_content('h3', {class: 'h1 mb-4'}, material.title) }}
                            {{ render_if_has_content('div', {class: 'fs-sm fs-md-md no-margin mb-5'}, wpautop(material.description)) }}
                            <div class="d-flex justify-content-end">
                                {% if material.link is not empty %}
                                    {% include get_cover_template('common/action') with {
                                        action_text: material.action_text,
                                        action_icon: action_icon,
                                        action_link: material.link,
                                        icon_end: 1,
                                        has_icon: 1,
                                        main_action: 1
                                    } %}
                                {% endif %}
                            </div>
                        </div>
                        <figure class="col-12 col-lg-5 order-2 my-auto mb-0">
                            {{ wp_get_attachment_image(material.image, [400, 400], {class: 'img-fluid d-block mx-auto'})|raw }}
                        </figure>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
