<div class="container">
    <div class="row">
        {% if title is not empty %}
            <div class="col-12 mb-3 d-flex justify-content-between">
                <h2 class="my-auto">{{ title|raw }}</h2>
                {{ render_if_has_content('a', {class: 'btn btn-outline-primary', href: action_link}, action_text) }}
            </div>
        {% endif %}
        {% for post in posts %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card shadow-sm">
                    {{ get_the_post_thumbnail(post, 'medium', {class: 'w-100 img-fluid card-img-top'})|raw }}
                    <div class="card-body">

                        {{ pmpr_do_action('render_post_taxonomies', post) }}
                        <a href="{{ get_permalink(item)|esc_attr }}" class="stretched-link">
                            <h2 class="h3 mb-3" data-line="1">{{ render_post_data('title', post)|raw }}</h2>
                        </a>
                        {{ render_if_has_content('div', {class: 'font-sm mb-3', 'data-line': 3}, render_post_data('excerpt', post)) }}

                        {% set metadata = pmpr_apply_filters('metadata_get_items', {}, {
                            post: post,
                            include: ['publish', 'study_time']
                        }) %}
                        {{ pmpr_do_action('render_post_metadata', metadata, {
                            flex_row: 1
                        }) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

