<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-9 col-lg-8 col-xl-7">
            <div {{ pr_add_animation({}, {effect: 'fade-up', distance: '100px', duration: 1000, delay: 0}) }}>
                {% include get_cover_template('common/header/section') with {
                    header_attrs: {class: 'text-center'},
                    heading_attrs: {class: 'display-6 fw-bold'},
                    description_attrs: {class: 'fs-md'},
                } %}
            </div>
        </div>
    </div>


    <div {{ pr_add_animation({}, {effect: 'fade-up', distance: '100px', duration: 1000, delay: 100}) }}>
        {% embed get_cover_template('common/carousel/index') with {
            carousels: teams,
            pagination_class: 'pt-3',
            swiper_class: 'overflow-visible',
            carousel_config: {
                loop: false,
                shuffle: true,
                autoplay: {
                    delay: 100000
                },
                speed: 1500,
                effect: 'fade',
                spaceBetween: 20,
                navigation: false,
                pagination: true,
                slidesPerView: 1,
            }
        } %}
            {% block carousel %}
                <article class="card shadow-sm h-100">
                    <div class="row gx-lg-0">
                        <div class="col-12 col-lg-7">
                            {% if is_mobile %}
                                {{ render_if_has_content('span', {class: 'pr-ribbon ribbon-purple ribbon-folded folded-top ribbon-end end-rounded end-25px lh-base fs-sm'}, carousel.ribbon_text) }}
                                <div class="position-relative">
                                    <figure class="overflow-hidden m-0">
                                        {{ render_user_data('avatar', carousel.user_id, {
                                            size: 330,
                                            class: 'img-fluid w-100 rounded-2'
                                        })|raw }}
                                    </figure>
                                    <div class="card-overlay position-absolute bottom-0 start-0 w-100">
                                        <div class="overlay-text fst-normal text-white">
                                            {{ render_if_has_content('h3', {class: 'fs-md fs-md-lg fw-bold mb-2'}, carousel.name)|raw }}
                                            {% include get_cover_template('common/author/caption_expertise') with {
                                                inline: 0,
                                                author: carousel.user_id,
                                                wraper_class: 'justify-content-center justify-content-lg-start',
                                                text_color: 'white',
                                                font_size_class: 'fs-1',
                                            } %}
                                            {{ render_if_has_content('div', {class: 'mt-2 fs-1'}, carousel.education_info)|raw }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="card-body pr-ribbon-wrapper">
                                {% if not is_mobile %}
                                    {{ render_if_has_content('span', {class: 'pr-ribbon px-xl-4 ribbon-purple ribbon-folded folded-top ribbon-end end-rounded flex-column end-25px lh-base fs-sm fs-lg-md'}, carousel.ribbon_text) }}
                                    <div class="d-flex mb-4">
                                        <figure class="overflow-hidden m-0">
                                            {{ render_user_data('avatar', carousel.user_id, {
                                                size: 195,
                                                class: 'img-fluid rounded-2'
                                            })|raw }}
                                        </figure>
                                        <div class="my-auto ms-3">
                                            {{ render_if_has_content('h3', {class: 'fs-lg fs-md-xl fw-bold mb-4'}, carousel.name)|raw }}
                                            {% include get_cover_template('common/author/caption_expertise') with {
                                                inline: 0,
                                                author: carousel.user_id,
                                                wraper_class: 'justify-content-center justify-content-lg-start',
                                                font_size_class: 'fs-1 fs-md-sm',
                                            } %}
                                            {{ render_if_has_content('div', {class: 'mt-2 fs-1 fs-md-sm text-gray-700'}, carousel.education_info)|raw }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if carousel.badges is not empty %}
                                    {% embed get_cover_template('common/carousel/index') with {
                                        carousels: carousel.badges,
                                        swiper_class: 'overflow-hidden',
                                        container_class: 'badges-carousel mb-0 mb-md-4',
                                        carousel_config: {
                                            loop: true,
                                            speed: 3500,
                                            autoplay: {
                                                delay: 0,
                                                disableOnInteraction: false,
                                            },
                                            spaceBetween: 25,
                                            slidesPerView: 'auto',
                                        }
                                    } %}
                                        {% block carousel %}
                                            <div class="d-flex text-nowrap">
                                                {{ render_icon(carousel.icon, {class: 'icon-lg icon-gray my-auto me-2'}) }}
                                                <span class="my-auto fs-1">{{ carousel.title|raw }}</span>
                                            </div>
                                        {% endblock %}
                                    {% endembed %}
                                {% endif %}
                                <div class="row d-none d-md-flex">
                                    <div class="col-12 col-md-6 col-lg-5 col-xl-6 my-auto d-none d-md-block">
                                        {% for certificate in carousel.certificates %}
                                            <div class="d-flex text-nowrap{% if not loop.last %} mb-3{% endif %}">
                                                {{ render_icon(certificate.icon, {class: 'icon-lg icon-gray my-auto me-2'}) }}
                                                <span class="my-auto fs-1">{{ certificate.title|raw }}</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-7 col-xl-6 mt-auto">
                                        {% for stack_account in carousel.stack_accounts %}
                                            {% if stack_account.reputation is not empty %}
                                                {% include get_cover_template('common/stack_account') with stack_account %}
                                                {% break %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="bg-gray-100 h-100 rounded-lg-end">
                                <div class="card-body">
                                    {{ render_if_has_content('strong', {class: 'my-auto fs-md d-block mb-4'}, carousel.list_title) }}
                                    {% for product_id, product in carousel.products %}
                                        <article class="d-flex position-relative">
                                            {{ product.image|raw }}
                                            <div class="d-grid flex-grow-1 gap-1 ms-3">
                                                <a href="{{ product.permalink|esc_attr }}"
                                                   class="stretched-link line-limit-2 text-gray-800"
                                                   aria-label="{{ title|esc_attr }}">{{ product.title|raw }}</a>

                                                {% set metadata_items = pmpr_apply_filters('metadata_get_items', {}, {
                                                    post: product_id,
                                                    include: ['rating', 'traffic']
                                                }) %}

                                                {{ pmpr_do_action('render_post_metadata', metadata_items, {
                                                    has_icon: 1,
                                                    render_icon: render_icon|default(0),
                                                    key_value: 0,
                                                    has_divider: 1,
                                                    divider_space: 2,
                                                    text_color: 'gray-600',
                                                    divider_color: 'gray-300',
                                                    icon_size: 'md',
                                                    item_class: 'fs-xs',
                                                    icon_divider_space: 1,
                                                    version: 3
                                                }) }}
                                            </div>
                                            <div class="price ms-3">
                                                {{ product.price_html|raw }}
                                            </div>
                                        </article>
                                        {% if not loop.last %}
                                            <hr class="border border-gray-400 my-2"/>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="d-block d-md-flex justify-content-end mt-3">
                                        {% include get_cover_template('common/action') with {
                                            action_text: carousel.action_text,
                                            action_link: carousel.action_link,
                                            has_icon: 1,
                                            icon_end: 1,
                                            main_color: 'primary',
                                            hover_color: 'white',
                                            action_attrs: {
                                                class: 'd-flex'
                                            }
                                        } %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endblock %}
        {% endembed %}
    </div>
</div>
