<header>
    {% set title = get_title(post) %}
    <a href="{{ get_permalink(post)|esc_url }}" aria-label="{{ title|esc_attr }}" title="{{ title|esc_attr }}">
        {{ render_if_has_content(heading_element|default('h3'), {class: ''}, title) }}
    </a>
</header>
{% if has_excerpt(post) %}
    <div class="excerpt">{{ wpautop(render_post_data('excerpt', post))|raw }}</div>
{% endif %}

