<article class="card shadow-sm w-100 block-{{ version|esc_attr }}">
    {% set version = version|default('single') %}
    {% set permalink = get_permalink(post) %}
    {% if version is same as ('responsive') %}
        <div class="d-flex flex-row flex-md-column h-100">
            <div>
                {% include get_cover_template('common/post/thumbnail') with {
                    post: post,
                    image_size: 'medium',
                    figure_class: 'fit-image mb-0',
                    image_attr: {class: 'img-fluid w-100 rounded-top-md'}
                } %}
            </div>
            <div class="card-body d-flex flex-column">
                {{ pmpr_do_action('render_post_taxonomies', post, {
                    attrs: {
                        class: 'fs-xs'
                    }
                }) }}
                <a class="text-gray-800" href="{{ permalink|esc_attr }}" title="{{ render_post_data('title', post)|esc_attr }}">
                    <h2 class="fs-16 fs-md-18 mb-2 mb-md-3 line-limit-1 line-limit-md-2 lh-base">{{ render_post_data('title', post)|raw }}</h2>
                </a>
                {{ render_if_has_content('div', {class: 'fs-xs fs-md-14 mb-2 mb-md-3 text-gray-700 line-limit-1 line-limit-md-3'}, render_post_data('excerpt', post)) }}
                {% set metadata = pmpr_apply_filters('metadata_get_items', {}, {
                    post: post,
                    include: ['traffic']
                }) %}
                {{ pmpr_do_action('render_post_metadata', metadata, {
                    has_icon: 1,
                    icon_size: 'sm',
                    key_value: 0,
                    text_color: 'gray-600',
                    item_class: 'fs-xs',
                    has_divider: 1,
                    divider_space: 2,
                    divider_color: 'gray-300',
                    wrapper_class: 'mt-auto',
                    version: 3
                }) }}
            </div>
        </div>
    {% elseif version is same as ('single') %}
    {% else %}
    {% endif %}
</article>

