{% if attachment is defined
    and attachment is not empty %}

    {% if is_image(attachment) %}

        {% set attachment_url = wp_get_attachment_image_url(attachment, image_size) %}
        {% set image_url = attachment_url %}
    {% elseif is_video(attachment) %}

        {% set attachment_url = wp_get_attachment_url(attachment) %}
        {% set video_url = attachment_url %}
    {% endif %}
{% endif %}

{% set body %}
    {% block body %}{% endblock %}
{% endset %}
{% if image_url is defined
    and image_url is not empty %}

    <div class="{{ container_class|raw }}" style="background-image: url({{ image_url|raw }})">
        {{ body|raw }}
    </div>
{% elseif video_url is defined
    and video_url is not empty %}

    <div class="position-relative {{ container_class|raw }}">
        <video autoplay muted loop class="center-video video-overlay position-absolute {{ video_class|raw }}">
            <source src="{{ video_url|raw }}" type="{{ get_mime_type(attachment)|raw }}">
            Your browser does not support HTML5 video.
        </video>
        {{ body|raw }}
    </div>
{% endif %}
