<div class="container">
    <div {{ pr_add_animation({class: 'row mb-4'}, {effect: 'fade-up', distance: '100px', duration: 1000, delay: 0}) }}>
        <div class="col-12 col-md-8 col-lg-6 mb-4 mb-md-0">
            {% include get_cover_template('common/header/section') with {
                heading_attrs: {class: 'display-6 fw-bold'},
                description_attrs: {class: 'fs-md'},
            } %}
        </div>
    </div>
    <div {{ pr_add_animation({class: 'row nav-custom'}, {effect: 'fade-up', distance: '200px', duration: 1000, delay: 200}) }}>
        <div class="col-12 col-lg-4 mb-4 mb-lg-0">
            <nav class="nav" id="faq_tabs">
                {% for id, category in categories %}
                    <button class="shadow-sm fw-bold d-flex nav-link{% if loop.first %} active{% endif %}"
                            id="cat_{{ id|esc_attr }}_tab" data-bs-toggle="pill"
                            data-bs-target="#cat_{{ id|esc_attr }}" type="button" role="tab"
                            aria-controls="cat_{{ id|esc_attr }}" aria-selected="true">
                        {{ render_icon(category.icon, {class: 'icon-xxl icon-primary me-3'}) }}
                        <h3 class="my-auto">{{ category.title|raw }}</h3>
                    </button>
                {% endfor %}
            </nav>
        </div>
        <div class="col-12 col-lg-8">
            <div class="tab-content" id="faq_tab_contents">
                {% for id, category in categories %}
                    <div class="tab-pane fade{% if loop.first %} show active{% endif %}"
                         id="cat_{{ id|esc_attr }}" role="tabpanel"
                         aria-labelledby="cat_{{ id|esc_attr }}_tab">

                        <div class="accordion accordion-flush" id="faq_accordion">
                            {% for item_id, item in category.items %}
                                <div class="accordion-item border">
                                    <h3 class="accordion-header" id="faq_item_{{ item_id|esc_attr }}_q">
                                        <button class="accordion-button collapsed fs-sm fs-md-md fw-bold p-4"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq_item_{{ item_id|esc_attr }}_a"
                                                aria-expanded="false"
                                                aria-controls="faq_item_{{ item_id|esc_attr }}_a">
                                            {{ item.question|raw }}
                                        </button>
                                    </h3>
                                    <div id="faq_item_{{ item_id|esc_attr }}_a" class="accordion-collapse collapse"
                                         aria-labelledby="faq_item_{{ item_id|esc_attr }}_q"
                                         data-bs-parent="#faq_tab_contents">
                                        <div class="accordion-body fs-sm fs-md-md no-margin text-gray-800 py-4 bg-gray-100">{{ wpautop(item.response)|raw }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
