<li class="comment-wrapper{% if depth > 1 %} comment-child{% endif %}" id="comment-{{ id|esc_attr }}"
    data-page="{{ page }}">
    <div id="comment-{{ id|esc_attr }}-content" data-id="{{ id|esc_attr }}"
            {{ comment_class(['comment-content'], id) }}>

        {% include get_cover_template('common/comment/author_and_metadata') with {
            comment: comment,
            comment_waiting_text: args.comment_waiting_text
        } %}

        <div class="font-size-sm pr-text my-3">{{ wpautop(text)|raw }}</div>

        {{ get_comment_reply_link({
            depth: depth,
            max_depth: max_depth,
            reply_text: get_icon(reply_icon, {
                class: 'icon-secondary'
            }) ~ '<small class="text-secondary fw-bold ms-1">' ~ reply_text ~ '</small>'
        }, comment, post)|raw }}
    </div>

