<div class="mt-3">
    <span class="h3 me-1 text-primary">{{ count|raw }}</span>
    <span class="h4">{{ title|raw }}</span>
</div>
{% if not has_comment %}
    <p class="m-0">{{ empty_message|raw }}</p>
{% else %}
    <ul id="comment_list" class="comments-list">
        {{ comments|raw }}
    </ul>
    <div class="d-flex justify-content-center">
        {{ pagination|raw }}
    </div>
{% endif %}
