<div class="form-check form-switch">
    <input type="checkbox"{% if value is defined and value %} value="on"{% endif %}
            {% if slug is defined and slug is not empty %} data-slug="{{ slug|esc_attr }}"{% endif %}
           class="form-check-input" name="{{ name|esc_attr }}" id="{{ id|esc_attr }}" {{ checked('on', value)|raw }}>
    <label class="form-check-label" for="{{ id|esc_attr }}">{{ title|esc_html }}</label>
</div>

