<div class="product-loop-item card shadow-sm mb-4">
    <div class="card-body">
        <div class="row g-0">
            <div class="col-12 col-lg-auto">
                <a href="{{ permalink|esc_attr }}" class="me-3 d-block">
                    {{ product|call('get_image', 'medium', {class: 'product-image img-fluid rounded'})|raw }}
                </a>
            </div>
            <div class="col">
                <div class="card-body h-100">
                    <div class="d-flex flex-column h-100">
                        <a href="{{ permalink|esc_attr }}">
                            <h2 class="h3 mb-3" data-line="1">{{ title|raw }}</h2>
                        </a>
                        <div class="row flex-grow-1">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-between">
                                {{ render_if_has_content('div', {class: '', 'data-line': 5}, excerpt) }}
                                <div class="row mt-auto">
                                    <div class="col-12 col-md-6">
                                        {{ pmpr_do_action('render_post_metadata', numeric_metadata, {version: 2}) }}
                                    </div>
                                    <div class="col-12 col-md-6 d-flex justify-content-between">
                                        {% for meta_item in text_metadata %}
                                            {{ meta_item.html|raw }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 d-flex justify-content-between flex-column">
                                {{ pmpr_do_action('render_post_metadata', left_metadata, {
                                    key_value: 1,
                                    flex_row: 0,
                                    has_icon: 0,
                                    item_class: 'px-3'
                                }) }}
                                <a href="{{ permalink|esc_attr }}"
                                   class="btn btn-lg btn-primary main-action w-100 mt-3">{{ action_text|raw }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
