{% extends get_cover_template('base') %}

{% block body %}
    <main>
        <article>
            <div class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <header class="mb-4">
                                <div class="d-flex mb-4">
                                    {{ get_avatar(object, 150, {class: 'img-fluid shadow-sm rounded-3 me-3 d-block'})|raw }}
                                    <div class="d-flex flex-column my-auto">
                                        <h1 class="mb-3">{{ render_author_data('name', object)|raw }}</h1>
                                        {% include get_cover_template('common/author/caption_expertise') with {
                                            author: object
                                        } %}
                                        {% set educational_info = pmpr_apply_filters('get_user_educational_info', '', object) %}
                                        {{ render_if_has_content('div', {class: 'text-gray-700 mt-2'}, educational_info) }}
                                    </div>
                                </div>
                                {{ render_if_has_content('p', {class: 'lh-lg fs-sm line-limit-3'}, render_author_data('description', object)) }}
                                {% set tags = pmpr_apply_filters('get_author_used_tags', {}, object) %}
                                {% if tags is not empty %}
                                    <nav class="mb-2 mb-md-0">
                                        {% include get_cover_template('common/labels') with {
                                            items: tags,
                                            color: 'white'
                                        } %}
                                    </nav>
                                {% endif %}
                            </header>
                            {% set badges = pmpr_apply_filters('get_user_badges', {}, object) %}
                            {% if badges is not empty %}
                                {% embed get_cover_template('common/carousel/index') with {
                                    carousels: badges,
                                    swiper_class: 'overflow-hidden',
                                    container_class: 'badges-carousel mb-4 mb-lg-0',
                                    carousel_config: {
                                        loop: true,
                                        speed: 3500,
                                        autoplay: {
                                            delay: 0,
                                            disableOnInteraction: false,
                                        },
                                        spaceBetween: 25,
                                        slidesPerView: 'auto',
                                    }
                                } %}
                                    {% block carousel %}
                                        <div class="d-flex text-nowrap">
                                            {{ render_icon(carousel.icon, {class: 'icon-lg icon-gray my-auto me-2'}) }}
                                            <span class="my-auto fs-1">{{ carousel.title|raw }}</span>
                                        </div>
                                    {% endblock %}
                                {% endembed %}
                            {% endif %}
                        </div>
                        <div class="col-lg-4">
                            {% set stack_accounts = pmpr_apply_filters('get_user_stackexchange_accounts', {}, object) %}
                            {% for stack_account in stack_accounts %}
                                <div class="{% if loop.last %}mb-4{% else %}mb-3{% endif %}">
                                    {% include get_cover_template('common/stack_account') with stack_account %}
                                </div>
                            {% endfor %}
                            {% set certificates = pmpr_apply_filters('get_user_certificates', {}, object) %}
                            {% for certificate in certificates %}
                                <div class="d-flex text-nowrap{% if not loop.last %} mb-3{% endif %}">
                                    {{ render_icon(certificate.icon, {class: 'icon-lg icon-gray my-auto me-2'}) }}
                                    <span class="my-auto fs-1">{{ certificate.title|raw }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% set cornerstones_text = pmpr_apply_filters('get_author_cornerstones_text', '', object) %}
            {% if cornerstones_text %}
                <div class="py-5 bg-gray-200">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-8 mb-5 mb-lg-0 lh-lg fs-sm no-margin">
                                {{ wpautop(cornerstones_text)|raw }}
                            </div>
                            <div class="col-12 col-lg-4">

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </article>

        {% set aparatLink = render_author_data('aparat_introduce_link', object) %}
        {% if aparatLink %}
            <section class="py-5">
                <h2 class="visually-hidden">{{ __('Introduce Video', domain) }}</h2>
                <div class="container">
                    <div class="row py-5">
                        <div class="col-12 col-lg-4 mb-5 mb-lg-0"></div>
                        <div class="col-12 col-lg-8">
                            {{ pmpr_do_action('video_aparat_render_iframe', {
                                url: aparatLink,
                                attrs: {class: 'author-introduce-video rounded'}
                            }) }}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </main>

    {% set posts_list = pmpr_apply_filters('get_author_posts_list', [], object) %}
    <aside>
        {% for post_list in posts_list %}
            {% if post_list.posts is not empty %}
                <div class="{% if loop.index is even %}bg-gray-200{% else %}bg-light{% endif %}">
                    <div class="container py-5">
                        <div class="d-flex justify-content-between mb-4">
                            <h2 class="my-auto">{{ post_list.title|raw }}</h2>
                            {% if post_list.action_link is not empty %}
                                {% include get_cover_template('common/action') with {
                                    action_text: post_list.action_text,
                                    action_icon: post_list.action_icon,
                                    action_link: post_list.action_link,
                                    has_icon: 1,
                                    icon_end: 1,
                                    as_outline: 1,
                                    main_color: 'white',
                                    hover_color: 'primary',
                                } %}
                            {% endif %}
                        </div>

                        {% embed get_cover_template('common/carousel/index') with {
                            carousels: post_list.posts,
                            swiper_class: 'mb-4',
                            breakpoints: {'': 1, md: 2, lg: 3, xxl: 4},
                            wrapper_class: 'mxh-500px',
                            carousel_config: {
                                loop: false,
                                speed: 1500,
                                autoplay: false,
                                equalHeight: true,
                                spaceBetween: 20,
                                centeredSlides: false,
                                navigation: false,
                                pagination: true,
                            }
                        } %}

                            {% block carousel %}
                                {% include get_cover_template('common/block/' ~ post_list.type|default('index')) with {
                                    loop: loop,
                                    post: carousel,
                                    version: 'responsive',
                                } %}
                            {% endblock %}

                            {% block after_last_slide %}
                                {% if post_list.action_link is not empty %}
                                    <div class="card position-relative shadow-sm h-100 w-100">
                                        <div class="card-body d-flex flex-column justify-content-center">
                                            {{ render_icon(post_list.view_all_icon, {class: 'icon-3x p-2 icon-primary mx-auto mb-2 rounded-circle border border-primary'}) }}
                                            <a class="stretched-link fs-md mx-auto"
                                               href="{{ post_list.action_link|esc_attr }}"
                                               aria-label="{{ post_list.action_text|esc_attr }}">
                                                {{ post_list.action_text|raw }}
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}

                        {% endembed %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </aside>

{% endblock %}



