{% if post is not empty %}
    {% set title = get_title(post) %}
    {% set version = version|default('list') %}
    {% set permalink = get_permalink(post) %}
    {% if version is same as ('list') %}
        <article class="d-flex position-relative">
            <div>
                {% include get_cover_template('common/post/thumbnail') with {
                    post: post,
                    figure_class: 'me-3 mb-0 fit-image as-small',
                    image_attr: {class: 'rounded overflow-hidden'},
                    image_size: 'small',
                } %}
            </div>
            <div class="d-flex flex-column justify-content-between">
                <a href="{{ permalink|esc_attr }}" class="stretched-link text-gray-800"
                   aria-label="{{ title|esc_attr }}">
                    <h4 class="lh-lg line-limit-2">{{ title|raw }}</h4>
                </a>
                {% set metadata_items = pmpr_apply_filters('metadata_get_items', {}, {
                    post: post,
                    include: metadata
                }) %}
                {{ pmpr_do_action('render_post_metadata', metadata_items, {
                    has_icon: 1,
                    key_value: 0,
                    has_divider: 1,
                    divider_space: 2,
                    text_color: 'gray-600',
                    divider_color: 'gray-300',
                    icon_size: 'md',
                    item_class: 'fs-xs',
                    icon_divider_space: 1,
                    version: 3
                }) }}
            </div>
        </article>
    {% elseif version is same as ('simple') %}
        <a href="{{ permalink|esc_attr }}" class="h4 text-gray-500">
            {{ title|raw }}
        </a>
    {% elseif version is same as ('grid') %}
        {% include get_cover_template('common/block/post') with {
            post: post,
            version: version,
        } %}
    {% endif %}
{% endif %}
