{% if post is not empty %}
    {% set title = get_title(post) %}
    {% set version = version|default('list') %}
    {% set permalink = get_permalink(post) %}
    {% if version is same as ('list') %}
        <li class="list-group-item d-flex border-0 p-0 bg-transparent{% if not loop.last %} mb-3{% endif %}">
            <a href="{{ permalink|esc_attr }}" class="d-block">
                {% include get_cover_template('common/post/thumbnail') with {
                    post: post,
                    figure_class: 'me-3 mb-0 fit-image as-small',
                    image_attr: {class: 'rounded overflow-hidden'},
                    image_size: 'small',
                } %}
            </a>
            <div class="d-flex flex-column justify-content-between">
                <a href="{{ permalink|esc_attr }}" class="text-gray-800" aria-label="{{ title|esc_attr }}">
                    <h4 class="lh-lg" data-line="2">{{ title|raw }}</h4>
                </a>
                {% set metadata_items = pmpr_apply_filters('metadata_get_items', {}, {
                    post: post,
                    include: metadata
                }) %}
                {{ pmpr_do_action('render_post_metadata', metadata_items, {
                    has_icon: 1,
                    key_value: 0,
                    has_divider: 1,
                    divider_space: 2,
                    text_color: 'gray-600',
                    divider_color: 'gray-300',
                    icon_size: 'md',
                    item_class: 'fs-xs',
                    icon_divider_space: 1,
                    version: 3
                }) }}
            </div>
        </li>
    {% elseif version is same as ('simple') %}
        <li class="list-group-item border-0 p-0 bg-transparent{% if not loop.last %} mb-2{% endif %}">
            <a href="{{ permalink|esc_attr }}" class="h4 text-gray-500">
                {{ title|raw }}
            </a>
        </li>
    {% endif %}
{% endif %}
