{% extends get_template('./common', _self) %}

{% block main %}

    {{ parent() }}

    {% set tabs = {
        submit: {
            title: submit_title,
            active: 1,
            action: submit_action
        },
        track: {
            title: track_title,
            active: 0,
            action: track_action
        }
    } %}

    <div class="ticket-message"></div>

    <ul class="nav nav-fill nav-tabs" id="tab" role="tablist">
        {% for id, tab in tabs %}
            <li class="nav-item" role="presentation">
                {{ render_if_has_content('button', {
                    id: id ~ '_tab',
                    role: 'tab',
                    type: 'button',
                    class: 'nav-link' ~ (tab.active ? ' active' : ''),
                    'aria-controls': id,
                    'data-bs-toggle': 'tab',
                    'data-bs-target': '#' ~ id,
                    'aria-selected': 'true',
                }, tab.title) }}
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content p-4 border-start border-end border-bottom bg-white" id="tab_content">
        {% for id, tab in tabs %}
            <div class="ticket-form-wrapper tab-pane fade{% if tab.active %} active show{% endif %}" data-action="{{ tab.action|esc_attr }}"
                 id="{{ id|esc_attr }}" role="tabpanel" aria-labelledby="{{ id|esc_attr }}_tab">
                <div class="d-flex justify-content-center my-3">
                    {{ render_frontend_spinner() }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
