<div class="d-flex">
    {{ get_avatar(comment, avatar_size, {class: 'me-2 avatar-img rounded-circle'})|raw }}
    <span class="h6 my-auto me-2 author-title">{{ get_comment_author(id)|raw }}</span>
    {% if comment.comment_approved %}
        <time class="text-gray-700 my-auto fs-12"
              datetime="{{ comment.comment_date|date('Y-m-d')|esc_attr }}">
            {{ get_comment_date()|datetime|raw }}
        </time>
    {% elseif comment_waiting_text is not empty %}
        <p class="m-0 text-gray-700 my-auto fs-12">{{ comment_waiting_text|raw }}</p>
    {% endif %}

    {{ render_if_has_content('div', {class: 'ms-auto my-auto'}, after_markup) }}
</div>

