{% if render|default(1) %}
    {% block before_item %}{% endblock %}
    <div class="d-flex mb-2">
        {{ render_icon(icon, {class: 'icon-primary me-2'}) }}
        <h3 id="filter-heading-{{ id|esc_attr }} mb-0">
            {{ title|raw }}
        </h3>
    </div>
    {% block before_filter %}{% endblock %}
    <div id="filter-{{ id|esc_attr }}"
         data-filter="{{ id|esc_attr }}"
         aria-labelledby="filter-heading-{{ id }}">
        {% block body %}{% endblock body %}
    </div>
    {% block after_item %}{% endblock %}
{% endif %}
