{% if render|default(1) %}
    {% block before_item %}{% endblock %}
    <div class="accordion-item">
        <h3 class="accordion-header" id="filter-heading-{{ id }}">
            <button class="accordion-button{% if collapse_items %} collapsed{% endif %}"
                    type="button" data-bs-target="#filter-{{ id }}" aria-expanded="false"
                    aria-controls="filter-collapse-{{ id }}" data-bs-toggle="collapse">
                {{ title|raw }}
            </button>
            {% block inside_item_header %}{% endblock %}
        </h3>
        <div id="filter-{{ id|esc_attr }}" data-filter="{{ id|esc_attr }}" data-bs-parent="#accordion_filters"
             class="accordion-collapse collapse{% if not collapse_items %} show{% endif %}"
             aria-labelledby="filter-heading-{{ id }}">
            <div class="accordion-body">
                {% block body %}{% endblock body %}
            </div>
        </div>
    </div>
    {% block after_item %}{% endblock %}
{% endif %}
