{% extends get_template('./base', _self) %}

{% block inside_container %}
    <div class="row">
        {% block before_main %}{% endblock %}
        <main id="main" class="col-12 col-lg-{{ main_share|default(9) - 1 }} col-xl-{{ main_share|default(9) }} order-{{ main_order|default(2) }}{% if margin_sidebar is empty %} mb-3 mb-lg-0 {% else %} {{ margin_sidebar|esc_attr }}{% endif %}">
            {% block main %}{% endblock %}
        </main>
        {% block after_main %}{% endblock %}
        {% block before_sidebar %}{% endblock %}
        <aside id="sidebar" class="col-12 col-lg-{{ sidebar_share|default(3) + 1 }} col-xl-{{ sidebar_share|default(3) }} order-{{ sidebar_order|default(3) }}{% if margin_sidebar is empty %} mb-3 mb-lg-0 {% else %} {{ margin_sidebar|esc_attr }}{% endif %}">
            <h2 class="visually-hidden">Sidebar</h2>
            {% block sidebar %}{% endblock %}
        </aside>
        {% block after_sidebar %}{% endblock %}
    </div>
{% endblock %}
